.questions-holder .post-moderation {
    border: 1px solid red;
    margin-top: 5px;
    padding: 5px;
}
.settings-holder {
}
.settings-holder .setting-id {
	float:left;
	width:100px;
}
.settings-holder .setting-key {
	float:left;
	width:300px;
}
.settings-holder .setting-value {
	float:left;
	width:400px;
}
.settings-holder .setting-status {
	float:left;
	width:100px;
}
.users-holder table {
}
.users-holder table td{
	padding: 5px;
}
.tags-holder table {
}
.tags-holder table td{
	padding: 5px;
}
.cms-sub-navigation {
	
}
.cms-sub-navigation a {
	margin: 0 10px;
}
.cms-main-nav {
	width: 100%;
	background-color: #DDD;
	margin-bottom: 20px;
}
.cms-main-nav span a {
	color: #333;
	text-decoration: none;
	padding: 6px;
	display: inline-block;
}
.cms-main-nav span a:hover {
	background-color: #FFF;
}